language: cpp

service: docker

before_install:
  - docker pull centos:7.6.1810
  - docker run --name buildvm -td centos:7.6.1810 /bin/bash

install:
  - pwd
  - ls -l
  - docker exec -ti buildvm bash -c "cat /etc/redhat-release"
  - docker exec -ti buildvm bash -c "yum install -q -y cmake"
  - docker cp test buildvm:/repo

script:
  - docker exec -ti buildvm bash -c "cd repo && ./build.sh"
